<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.franxx.blog.mapper.ClzMapper" >
  <resultMap id="BaseResultMap" type="top.franxx.blog.pojo.Clz" >
    <id column="clz_id" property="clzId" jdbcType="BIGINT" />
    <result column="clz_name" property="clzName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    clz_id, clz_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.franxx.blog.pojo.ClzExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clz
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from clz
    where clz_id = #{clzId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from clz
    where clz_id = #{clzId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="top.franxx.blog.pojo.ClzExample" >
    delete from clz
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.franxx.blog.pojo.Clz" >
    insert into clz (clz_id, clz_name)
    values (#{clzId,jdbcType=BIGINT}, #{clzName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.franxx.blog.pojo.Clz" >
    insert into clz
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clzId != null" >
        clz_id,
      </if>
      <if test="clzName != null" >
        clz_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clzId != null" >
        #{clzId,jdbcType=BIGINT},
      </if>
      <if test="clzName != null" >
        #{clzName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.franxx.blog.pojo.ClzExample" resultType="java.lang.Integer" >
    select count(*) from clz
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clz
    <set >
      <if test="record.clzId != null" >
        clz_id = #{record.clzId,jdbcType=BIGINT},
      </if>
      <if test="record.clzName != null" >
        clz_name = #{record.clzName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clz
    set clz_id = #{record.clzId,jdbcType=BIGINT},
      clz_name = #{record.clzName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.franxx.blog.pojo.Clz" >
    update clz
    <set >
      <if test="clzName != null" >
        clz_name = #{clzName,jdbcType=VARCHAR},
      </if>
    </set>
    where clz_id = #{clzId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.franxx.blog.pojo.Clz" >
    update clz
    set clz_name = #{clzName,jdbcType=VARCHAR}
    where clz_id = #{clzId,jdbcType=BIGINT}
  </update>
</mapper>