<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.franxx.blog.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="top.franxx.blog.pojo.News" >
    <id column="news_id" property="newsId" jdbcType="BIGINT" />
    <result column="news_name" property="newsName" jdbcType="VARCHAR" />
    <result column="news_author" property="newsAuthor" jdbcType="VARCHAR" />
    <result column="news_abstract" property="newsAbstract" jdbcType="VARCHAR" />
    <result column="news_status" property="newsStatus" jdbcType="INTEGER" />
    <result column="news_img" property="newsImg" jdbcType="VARCHAR" />
    <result column="news_classify" property="newsClassify" jdbcType="INTEGER" />
    <result column="news_look" property="newsLook" jdbcType="VARCHAR" />
    <result column="news_top" property="newsTop" jdbcType="VARCHAR" />
    <result column="news_time" property="newsTime" jdbcType="TIMESTAMP" />
    <result column="news_like" property="newsLike" jdbcType="BIGINT" />
    <result column="news_view" property="newsView" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="top.franxx.blog.pojo.News" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    news_id, news_name, news_author, news_abstract, news_status, news_img, news_classify, 
    news_look, news_top, news_time, news_like, news_view
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="top.franxx.blog.pojo.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.franxx.blog.pojo.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    where news_id = #{newsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from news
    where news_id = #{newsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="top.franxx.blog.pojo.NewsExample" >
    delete from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.franxx.blog.pojo.News" >
    insert into news (news_id, news_name, news_author, 
      news_abstract, news_status, news_img, 
      news_classify, news_look, news_top, 
      news_time, news_like, news_view, 
      content)
    values (#{newsId,jdbcType=BIGINT}, #{newsName,jdbcType=VARCHAR}, #{newsAuthor,jdbcType=VARCHAR}, 
      #{newsAbstract,jdbcType=VARCHAR}, #{newsStatus,jdbcType=INTEGER}, #{newsImg,jdbcType=VARCHAR}, 
      #{newsClassify,jdbcType=INTEGER}, #{newsLook,jdbcType=VARCHAR}, #{newsTop,jdbcType=VARCHAR}, 
      #{newsTime,jdbcType=TIMESTAMP}, #{newsLike,jdbcType=BIGINT}, #{newsView,jdbcType=BIGINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.franxx.blog.pojo.News" >
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="newsName != null" >
        news_name,
      </if>
      <if test="newsAuthor != null" >
        news_author,
      </if>
      <if test="newsAbstract != null" >
        news_abstract,
      </if>
      <if test="newsStatus != null" >
        news_status,
      </if>
      <if test="newsImg != null" >
        news_img,
      </if>
      <if test="newsClassify != null" >
        news_classify,
      </if>
      <if test="newsLook != null" >
        news_look,
      </if>
      <if test="newsTop != null" >
        news_top,
      </if>
      <if test="newsTime != null" >
        news_time,
      </if>
      <if test="newsLike != null" >
        news_like,
      </if>
      <if test="newsView != null" >
        news_view,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=BIGINT},
      </if>
      <if test="newsName != null" >
        #{newsName,jdbcType=VARCHAR},
      </if>
      <if test="newsAuthor != null" >
        #{newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="newsAbstract != null" >
        #{newsAbstract,jdbcType=VARCHAR},
      </if>
      <if test="newsStatus != null" >
        #{newsStatus,jdbcType=INTEGER},
      </if>
      <if test="newsImg != null" >
        #{newsImg,jdbcType=VARCHAR},
      </if>
      <if test="newsClassify != null" >
        #{newsClassify,jdbcType=INTEGER},
      </if>
      <if test="newsLook != null" >
        #{newsLook,jdbcType=VARCHAR},
      </if>
      <if test="newsTop != null" >
        #{newsTop,jdbcType=VARCHAR},
      </if>
      <if test="newsTime != null" >
        #{newsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newsLike != null" >
        #{newsLike,jdbcType=BIGINT},
      </if>
      <if test="newsView != null" >
        #{newsView,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.franxx.blog.pojo.NewsExample" resultType="java.lang.Integer" >
    select count(*) from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update news
    <set >
      <if test="record.newsId != null" >
        news_id = #{record.newsId,jdbcType=BIGINT},
      </if>
      <if test="record.newsName != null" >
        news_name = #{record.newsName,jdbcType=VARCHAR},
      </if>
      <if test="record.newsAuthor != null" >
        news_author = #{record.newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.newsAbstract != null" >
        news_abstract = #{record.newsAbstract,jdbcType=VARCHAR},
      </if>
      <if test="record.newsStatus != null" >
        news_status = #{record.newsStatus,jdbcType=INTEGER},
      </if>
      <if test="record.newsImg != null" >
        news_img = #{record.newsImg,jdbcType=VARCHAR},
      </if>
      <if test="record.newsClassify != null" >
        news_classify = #{record.newsClassify,jdbcType=INTEGER},
      </if>
      <if test="record.newsLook != null" >
        news_look = #{record.newsLook,jdbcType=VARCHAR},
      </if>
      <if test="record.newsTop != null" >
        news_top = #{record.newsTop,jdbcType=VARCHAR},
      </if>
      <if test="record.newsTime != null" >
        news_time = #{record.newsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.newsLike != null" >
        news_like = #{record.newsLike,jdbcType=BIGINT},
      </if>
      <if test="record.newsView != null" >
        news_view = #{record.newsView,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update news
    set news_id = #{record.newsId,jdbcType=BIGINT},
      news_name = #{record.newsName,jdbcType=VARCHAR},
      news_author = #{record.newsAuthor,jdbcType=VARCHAR},
      news_abstract = #{record.newsAbstract,jdbcType=VARCHAR},
      news_status = #{record.newsStatus,jdbcType=INTEGER},
      news_img = #{record.newsImg,jdbcType=VARCHAR},
      news_classify = #{record.newsClassify,jdbcType=INTEGER},
      news_look = #{record.newsLook,jdbcType=VARCHAR},
      news_top = #{record.newsTop,jdbcType=VARCHAR},
      news_time = #{record.newsTime,jdbcType=TIMESTAMP},
      news_like = #{record.newsLike,jdbcType=BIGINT},
      news_view = #{record.newsView,jdbcType=BIGINT},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update news
    set news_id = #{record.newsId,jdbcType=BIGINT},
      news_name = #{record.newsName,jdbcType=VARCHAR},
      news_author = #{record.newsAuthor,jdbcType=VARCHAR},
      news_abstract = #{record.newsAbstract,jdbcType=VARCHAR},
      news_status = #{record.newsStatus,jdbcType=INTEGER},
      news_img = #{record.newsImg,jdbcType=VARCHAR},
      news_classify = #{record.newsClassify,jdbcType=INTEGER},
      news_look = #{record.newsLook,jdbcType=VARCHAR},
      news_top = #{record.newsTop,jdbcType=VARCHAR},
      news_time = #{record.newsTime,jdbcType=TIMESTAMP},
      news_like = #{record.newsLike,jdbcType=BIGINT},
      news_view = #{record.newsView,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.franxx.blog.pojo.News" >
    update news
    <set >
      <if test="newsName != null" >
        news_name = #{newsName,jdbcType=VARCHAR},
      </if>
      <if test="newsAuthor != null" >
        news_author = #{newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="newsAbstract != null" >
        news_abstract = #{newsAbstract,jdbcType=VARCHAR},
      </if>
      <if test="newsStatus != null" >
        news_status = #{newsStatus,jdbcType=INTEGER},
      </if>
      <if test="newsImg != null" >
        news_img = #{newsImg,jdbcType=VARCHAR},
      </if>
      <if test="newsClassify != null" >
        news_classify = #{newsClassify,jdbcType=INTEGER},
      </if>
      <if test="newsLook != null" >
        news_look = #{newsLook,jdbcType=VARCHAR},
      </if>
      <if test="newsTop != null" >
        news_top = #{newsTop,jdbcType=VARCHAR},
      </if>
      <if test="newsTime != null" >
        news_time = #{newsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newsLike != null" >
        news_like = #{newsLike,jdbcType=BIGINT},
      </if>
      <if test="newsView != null" >
        news_view = #{newsView,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.franxx.blog.pojo.News" >
    update news
    set news_name = #{newsName,jdbcType=VARCHAR},
      news_author = #{newsAuthor,jdbcType=VARCHAR},
      news_abstract = #{newsAbstract,jdbcType=VARCHAR},
      news_status = #{newsStatus,jdbcType=INTEGER},
      news_img = #{newsImg,jdbcType=VARCHAR},
      news_classify = #{newsClassify,jdbcType=INTEGER},
      news_look = #{newsLook,jdbcType=VARCHAR},
      news_top = #{newsTop,jdbcType=VARCHAR},
      news_time = #{newsTime,jdbcType=TIMESTAMP},
      news_like = #{newsLike,jdbcType=BIGINT},
      news_view = #{newsView,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where news_id = #{newsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.franxx.blog.pojo.News" >
    update news
    set news_name = #{newsName,jdbcType=VARCHAR},
      news_author = #{newsAuthor,jdbcType=VARCHAR},
      news_abstract = #{newsAbstract,jdbcType=VARCHAR},
      news_status = #{newsStatus,jdbcType=INTEGER},
      news_img = #{newsImg,jdbcType=VARCHAR},
      news_classify = #{newsClassify,jdbcType=INTEGER},
      news_look = #{newsLook,jdbcType=VARCHAR},
      news_top = #{newsTop,jdbcType=VARCHAR},
      news_time = #{newsTime,jdbcType=TIMESTAMP},
      news_like = #{newsLike,jdbcType=BIGINT},
      news_view = #{newsView,jdbcType=BIGINT}
    where news_id = #{newsId,jdbcType=BIGINT}
  </update>
</mapper>